<p style="color: green"><%= notice %></p>

<%= render @newobject %>

<div>
  <%= link_to "Edit this newobject", edit_newobject_path(@newobject) %> |
  <%= link_to "Back to newobjects", newobjects_path %>

  <%= button_to "Destroy this newobject", @newobject, method: :delete %>
</div>
