<%= javascript_pack_tag "application" %>
<%= stylesheet_pack_tag "application" %>
<%= form_with(model: theory) do |form| %>
  <% if theory.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(theory.errors.count, "error") %> prohibited this theory from being saved:</h2>

      <ul>
        <% theory.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

<br>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.rich_text_area :description %>
  </div>

<br>

  <div class="field">
  <%= form.label :assumption_ids, "Select Assumptions" %><br>
  <% Assumption.all.each do |assumption| %>
    <%= check_box_tag "theory[assumption_ids][]", assumption.id, @theory.assumptions.include?(assumption), id: "assumption_#{assumption.id}" %>
    <%= label_tag "assumption_#{assumption.id}", assumption.name, for: "assumption_#{assumption.id}" %> <br>
  <% end %>
  </div>

<br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
