<div id="<%= dom_id theory %>">
  <div class="engraved">
    <span><%= theory.name.capitalize %></span>
  </div>

  <p>
    <strong>Description:</strong>
      <%= theory.description %>
      <%= "No description provided" if theory.description.empty? %>
  </p>

  <% theory.assumptions.each do |assump| %>
    <p>
      <strong>Assumption:</strong>
      <%= assump.name %>
      <em><%= link_to "show this assumption", assumption_path(assump.id) %></em>
    </p>
  <% end %>

</div>
