<p style="color: green"><%= notice %></p>

<h1>Theories</h1>

<div id="theories">
  <% @theories.each do |theory| %>
    <strong><%= theory.name %></strong>
    <% if @selected_assumptions.any? %>
      <%= link_to "Assumptions", assumptions_path(ids: @selected_assumptions.pluck(:id)) %>
    <% end %>
    <p>
      <%= link_to "Show this theory", theory %>
    </p>
  <% end %>
</div>

<%= link_to "New theory", new_theory_path %>
