<p style="color: green"><%= notice %></p>

<h1>Theories</h1>

<div id="theories">
  <% @theories.each do |theory| %>
    <p>
      <strong><%= theory.name %></strong>
      <em><%= link_to "show this theory", theory, :onclick => "callTheory(#{theory.id})" %></em>
    </p>
  <% end %>
</div>

<p><%= link_to "New theory", new_theory_path %></p>

<p><%= link_to "Back to home", root_path, :onclick => 'resetGraph()' %></p>

<script>
    function callTheory(theoryId) {
        const label = 'theories' + theoryId;
        window.parent.fadeOutUnconnected(label);
    }

    function resetGraph() {
        window.parent.resetGraph();
    }
</script>
