<p style="color: green"><%= notice %></p>

<h1>Theories</h1>

<div id="theories">
  <% @theories.each do |theory| %>
    <strong><%= theory.name %></strong>
  <p>
    Assumptions:
    <% theory.assumptions.each do |assumption| %>
      <%= link_to assumption.name, assumption_path(assumption) %>
    <% end %>
  </p>

    <p>
      <%= link_to "Show this theory", theory %>
    </p>
  <% end %>
</div>

<%= link_to "New theory", new_theory_path %>
