<p style="color: green"><%= notice %></p>

<%= render @theory %>

<div>
  
  <%= link_to "Back to theories", theories_path %>
  <!-- if in the cucumber test, show the button -->
  <% if Rails.env.test?%>
  | <%= link_to "Edit this theory", edit_theory_path(@theory) %> 
  <%= button_to "Destroy this theory", @theory, method: :delete %>
  <% end %>
  <!-- if in the production, show the button -->
  <% if session[:userinfo].present? %>
  | <%= link_to "Edit this theory", edit_theory_path(@theory) %> 
  <%= button_to "Destroy this theory", @theory, method: :delete %>
  <% end %>
</div>

<script>
    const theory = <%= @theory.to_json.html_safe %>;
    document.addEventListener('DOMContentLoaded', () => {
        const label = 'theories' + theory.id;
        window.parent.initGraph(true, label);
    });
</script>
