<div id="<%= dom_id assumption %>">
  <p>
    <strong>Name:</strong>
    <%= assumption.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= assumption.description %>
  </p>

  <% assumption.theories.each do |theory| %>
    <p>
      <strong>Theory:</strong>
      <%= theory.name %>
    </p>
  <% end %>

  <% assumption.practices.each do |practice| %>
    <p>
      <strong>Practice:</strong>
      <%= practice.name %>
    </p>
  <% end %>
</div>
