<div id="<%= dom_id assumption %>">

  <div class="engraved">
    <span><%= assumption.name.capitalize %></span>
  </div>

  <p>
    <strong>Description:</strong>
    <% doc = Nokogiri::HTML.fragment(assumption.description.to_s) %>
    <% doc.css('a').each do |link| %>
      <% link.set_attribute('target', '_blank') %>
      <% link.set_attribute('rel', 'noopener noreferrer') %>
    <% end %>
    <%= doc.to_html.html_safe %>
    <%= "No description provided" if assumption.description.empty? %>
  </p>

  <% assumption.theories.each do |theory| %>
    <p>
      <strong>Theory:</strong>
      <%= theory.name.capitalize %><br>
      <%= link_to "show this theory", theory_path(theory.id) %>
    </p>
  <% end %>

  <% assumption.practices.each do |practice| %>
    <p>
      <strong>Practice:</strong>
      <%= practice.name.capitalize %><br>
      <%= link_to "show this practice", practice_path(practice.id) %>
    </p>
  <% end %>
</div>
