<div id="<%= dom_id assumption %>">

  <div class="engraved">
    <span><%= assumption.name.capitalize %></span>
  </div>

  <p>
    <strong>Description:</strong>
    <%= assumption.description %>
    <%= "No description provided" if assumption.description.empty? %>
  </p>

  <% assumption.theories.each do |theory| %>
    <p>
      <strong>Theory:</strong>
      <%= theory.name %>
      <em><%= link_to "show this theory", theory_path(theory.id) %></em>
    </p>
  <% end %>

  <% assumption.practices.each do |practice| %>
    <p>
      <strong>Practice:</strong>
      <%= practice.name %>
      <em><%= link_to "show this practice", practice_path(practice.id) %></em>
    </p>
  <% end %>
</div>
