<%= javascript_pack_tag "application" %>
<%= form_with(model: assumption) do |form| %>
  <% if assumption.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(assumption.errors.count, "error") %> prohibited this assumption from being saved:</h2>

      <ul>
        <% assumption.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <br>

  <div class="form-group">
    <%= form.label :description, style: "display: block" %>
    <%= form.rich_text_area :description %>
  </div>

  <br>

  <div class="field form-group">
    <%= form.label :theory_ids, "Select Theory" %>
    <% Theory.all.each do |theory| %>
      <div class="form-check">
        <%= check_box_tag "assumption[theory_ids][]", theory.id, @assumption.theories.include?(theory),
                          id: "theory_#{theory.id}", class: 'form-check-input' %>
        <%= label_tag "theory_#{theory.id}", theory.name, for: "theory_#{theory.id}", class: 'form-check-label' %>
      </div>
    <% end %>
  </div>

  <br>

  <div class="field form-group">
    <%= form.label :practice_ids, "Select Practice" %>
    <% Practice.all.each do |practice| %>
      <div class="form-check">
        <%= check_box_tag "assumption[practice_ids][]", practice.id, @assumption.practices.include?(practice),
                          id: "practice_#{practice.id}", class: 'form-check-input' %>
        <%= label_tag "practice_#{practice.id}", practice.name, for: "practice_#{practice.id}", class: 'form-check-label' %>
      </div>
    <% end %>
  </div>

  <br>

  <div>
    <%= form.submit class: "btn btn-outline-primary"%>
  </div>
<% end %>
