<%= form_with(model: assumption) do |form| %>
  <% if assumption.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(assumption.errors.count, "error") %> prohibited this assumption from being saved:</h2>

      <ul>
        <% assumption.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

<div class="field">
  <%= form.label :theory_ids, "Select Theory" %> <br>
  <% Theory.all.each do |theory| %>
    <%= check_box_tag "assumption[theory_ids][]", theory.id, @assumption.theories.include?(theory), id: "theory_#{theory.id}" %>
    <%= label_tag "theory_#{theory.id}", theory.name, for: "theory_#{theory.id}" %>
  <% end %>
</div>

<div class="field">
  <%= form.label :practice_ids, "Select Practice" %> <br>
  <% Practice.all.each do |practice| %>
    <%= check_box_tag "assumption[practice_ids][]", practice.id, @assumption.practices.include?(practice), id: "practice_#{practice.id}" %>
    <%= label_tag "practice_#{practice.id}", practice.name, for: "practice_#{practice.id}" %>
  <% end %>
</div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
