<p style="color: green"><%= notice %></p>

<h1>Assumptions</h1>

<div id="assumptions">
  <% @assumptions.each do |assumption| %>
    <strong><%= assumption.name %></strong>

    <p>
    Theory:
    <% assumption.theories.each do |theory| %>
      <%= link_to theory.name, theory_path(theory) %>
    <% end %>
  </p>

    <p>
    Practice:
    <% assumption.practices.each do |practice| %>
      <%= link_to practice.name, practice_path(practice) %>
    <% end %>
  </p>
    <p>
      <%= link_to "Show this assumption", assumption %>
    </p>
  <% end %>
</div>



<%= link_to "New assumption", new_assumption_path %>
