<div id="<%= dom_id practice %>">
  <div class="engraved">
    <span><%= practice.name.capitalize %></span>
  </div>

  <p>
    <strong>Description:</strong>
    <% doc = Nokogiri::HTML.fragment(practice.description.to_s) %>
    <% doc.css('a').each do |link| %>
      <% link.set_attribute('target', '_blank') %>
      <% link.set_attribute('rel', 'noopener noreferrer') %>
    <% end %>
    <%= doc.to_html.html_safe %>

    <%= "No description provided" if practice.description.empty? %>
  </p>

  <% practice.assumptions.each do |assump| %>
    <p>
      <strong>Assumption:</strong>
      <%= assump.name.capitalize %><br>
      <%= link_to "show this assumption", assumption_path(assump.id) %>
    </p>
  <% end %>
</div>
