<p style="color: green"><%= notice %></p>

<h1>Practices</h1>

<div id="practices">
  <% @practices.each do |practice| %>
    <p>
      <strong><%= practice.name %></strong>
      <em><%= link_to "show this practice", practice %></em>
    </p>
  <% end %>
</div>

<p><%= link_to "New practice", new_practice_path %></p>

<p><%= link_to "Back to home", root_path %></p>
