<p style="color: green"><%= notice %></p>

<div class="engraved" style="padding-left: 20px">
  <span>Practices</span>
</div>

<div class="list-group list-group-light">
  <% @practices.each do |practice| %>
    <%= link_to practice, :onclick => "callPractice(#{practice.id})",
                class: "list-group-item list-group-item-action px-3 border-0 ripple link" do %>
      <i class="bi bi-arrow-right-circle-fill"></i> <%= practice.name.capitalize %>
    <% end %>
  <% end %>
</div>

<!-- if in the cucumber test, show the button -->
<% if Rails.env.test? %>
  <p><%= link_to "New practice", new_practice_path %></p>
<% end %>

<!-- if in the production, show the button -->
<% if session[:userinfo].present? %>
  <p style="padding-left: 20px"><%= link_to "New practice", new_practice_path %></p>
<% end %>

<script>
    function callPractice(practiceId) {
        const label = 'practices' + practiceId;
        window.parent.fadeOutUnconnected(label);
    }

    function resetGraph() {
        window.parent.resetGraph();
    }
</script>
